{
  "presets": [
    "@babel/react",
    "@babel/preset-typescript",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 5 versions", "not ie < 10"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes"
  ],
  "env": {
    "production": {
      "comments": false,
      "ignore": ["src/**/*.spec.ts", "src/**/*.spec.tsx"]
    }
  }
}
