{
  "presets": [
    "@babel/react",
    "@babel/preset-typescript",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 5 versions", "not ie < 10"]
        }
      }
    ]
  ],
  "only": ["src/**"],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes"
  ]
}
